/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #171717;
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --qwik-dirty-black: #1d2033;
  --qwik-dark-background: #171717;
  --qwik-dark-text: #ffffff;
}

html {
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-weight: 500;
  font-family:
    "Montserrat",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
}

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  line-height: inherit;
}

@layer components {
  .container-custom {
    @apply container mx-auto px-4 2xl:max-w-full 2xl:px-[135px];
  }

  .bg-radial-gradient-blur {
    background: radial-gradient(50% 50% at 50% 50%, #FF304D 0%, rgba(255, 48, 77, 0.00) 100%);
    filter: blur(90px);
  }

  h1 {
    @apply text-white uppercase font-bold text-[48px] md:text-[56px] xl:text-[72px] leading-[1.1] xl:leading-none;
  }

  h2 {
    @apply text-white font-bold text-[32px] md:text-[42px] xl:text-[68px];
  }

  h3 {
    @apply text-white font-bold text-[24px] md:text-[32px] xl:text-[48px];
  }

  h4 {
    @apply text-white font-medium text-[18px] md:text-[15px] xl:text-[24px];
  }

  .btn-red-circle {
    @apply text-center flex gap-[10px] items-center justify-center bg-main text-white p-1 xl:px-6 2xl:px-8 leading-none rounded-full uppercase;
  }

  .btn-red-opacity {
    @apply text-center flex gap-[10px] items-center justify-center border-2 border-main text-white p-1 xl:px-6 2xl:px-8 leading-none rounded-full uppercase;
  }
}